* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
	overflow-y: auto;
}
h1 {
    margin: 20px 0;
    font-size: 1.5em;
    text-align: center;
}
.video-grid-2x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}
.video-grid-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 100%;
}
.video-grid-1x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
}
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-container h2 {
    font-size: 1em;
    margin-bottom: 5px;
    text-align: center;

}
.video-container iframe {
    width: 100%;
	height: 40vh;
    aspect-ratio: 16 / 9;
}

.contenedor-tablas {
	display: flex;
	gap: 20px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: center;
}
.tabla-otros {
    width: auto;
    margin: 20px auto;
    border-collapse: collapse;
}

.tabla-otros th,
.tabla-otros td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
th {
	background-color: #f2f2f2;
	font-weight: bold;
}
a {
	text-decoration: none;
	font-size: 1em;
	color: #3498db;
}
a:hover {
	color: #2c3e50;
}
